<%- include('header') %>
    <main>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col s12 center-align">
                        <h3 class="aum-extrabold aum-text-3xl font-Pacifico">
                            <%= restaurantName %>
                        </h3>

                        <a class="waves-effect waves-light btn-small bg-gray" href="/"><i
                                class="material-icons left">arrow_back</i>Back to Home</a>
                    </div>
                    <div>
                        <%= message %>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col s12">

                        <form action="/pizza/booking" method="POST">

                            <div class="col s6">

                                <div class="white aum-border-radius-8">
                                    <div class="row">
                                        <div class="col s12">
                                            <div class="col s12">
                                                <h3 class="aum-semibold aum-text-xl">Booking Details</h3>

                                                <div class="col s12">
                                                    <div class="card-panel lighten-5 z-depth-1">
                                                        <div class="row valign-wrapper aum_mb_0">
                                                            <div class="input-field col s12">
                                                                <input id="restaurantName" type="text" class="validate"
                                                                    name="restaurantName" required
                                                                    value="<%= restaurantName %>">
                                                                <label for="restaurantName"><strong>Restaurant
                                                                        Name</strong></label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col s12">
                                                    <div class="card-panel lighten-5 z-depth-1">
                                                        <div class="row valign-wrapper aum_mb_0">
                                                            <input type="hidden" name="email" value="<%= email %>">

                                                            <div class="input-field col s12">
                                                                <input id="name" type="text" class="validate"
                                                                    name="name" required value="<%= contactName %>">
                                                                <label for="name"><strong>Contact Name</strong></label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col s12">
                                                    <div class="card-panel lighten-5 z-depth-1">
                                                        <div class="row valign-wrapper aum_mb_0">
                                                            <div class="input-field col s12">
                                                                <input id="contactPhone" type="text" class="validate"
                                                                    name="contactPhone" required value="<%= phone %>">
                                                                <label for="contactPhone"><strong>Contact
                                                                        Phone</strong></label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="col s6">

                                <div class="white aum-border-radius-8">
                                    <div class="row">
                                        <div class="col s12">

                                            <div class="col s12">
                                                <div class="flex items-center justify-between">
                                                    <h3 class="aum-semibold aum-text-xl">Pizza Types</h3>
                                                </div>

                                                <div class="col s12">
                                                    <div class="card-panel grey lighten-5 z-depth-1">
                                                        <div class="row valign-wrapper aum_mb_0">
                                                            <div class="input-field col s12">
                                                                <textarea id="specialRequest"
                                                                    placeholder="Enter any special request or dietary ..."
                                                                    class="materialize-textarea validate"
                                                                    name="specialRequest" data-length="120"></textarea>
                                                                <label for="specialRequest"
                                                                    class="aum-semibold aum-text-3xl"><strong>Special
                                                                        Request</strong></label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="col s12">
                                                    <div class="card-panel lighten-5 z-depth-1">
                                                        <div class="row valign-wrapper aum_mb_0">
                                                            <div class="col s12">
                                                                <label for="pizzas">Pizza Types</label>
                                                                <select id="pizzaSelect" name="pizzas" required
                                                                    class="browser-default">
                                                                    <option>Select a Pizza Type</option>
                                                                    <% pizzaOptions.forEach(option=> { %>
                                                                        <option value="<%= option %>">
                                                                            <%= option %>
                                                                        </option>
                                                                        <% }) %>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col s12">
                                                    <div class="card-panel grey lighten-5 z-depth-1">
                                                        <div class="row valign-wrapper aum_mb_0">
                                                            <div class="input-field col s12">
                                                                <input id="pizzaImageUrl" class="validate"
                                                                    name="pizzaImageUrl" type="text">
                                                                <label for="pizzaImageUrl"
                                                                    class="aum-semibold aum-text-3xl"><strong>Pizza
                                                                        Image</strong></label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12">
                        <div class="col s12">
                            <div class="aum_mt_16">
                                <button class="waves-effect waves-light btn btn-large bg-gray col s12 aum_h_48"><strong>Confirm
                                        Your Order</strong>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            </form>
            </div>
            </div>
            </div>
        </section>
        
    </main>

    <%- include('footer') %>